/*--------------------
        Mobile
--------------------*/

/*Type Selectors------------------*/
* {
    box-sizing: border-box;
}

header{
    background-color: rgb(250, 250, 250);
    text-align: center;
}

body {
    text-align: center;
    background-color: white;
}

footer{
    background-color: rgb(250, 250, 250);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(240,240,240);
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-style: bold;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    font-style: bold;
    padding-top: 12px;
    padding-bottom: 12px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: rgb(153, 153, 153);
}

a:link{
    text-decoration: none;
    display: inline-block;
    background-color: white;
}

a:visited {
    color: black;
}

li{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    background-color: white;
    margin: 2px 5%;
    padding: 5px 0;

}

ul{
    list-style-type: none;
    padding: 0;
}

img{
    max-width: 100%;
}


/*Class Selectors-----------------*/

.profile-image{
    width: 200px;
    margin-top: 20px;
}

.introduction{
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    line-height: 1.5;
    color: rgb(153, 153, 153);
    padding-bottom: 12%;
}

.name{
    float: left;
    text-align: center;
    padding-left: 5%;
    padding-top: 10%;
}

.back-to-top{
    float: right;
    text-align: center;
    padding-right: 5%;
    padding-top: 10%;
}

.calculator{
    padding-bottom: 15%;
}

.main-body{
    padding-bottom: 12%;
}

/*-------------------
        Tablet
-------------------*/
@media (min-width: 768px) {

    a:link{
        text-decoration: none;
        display: inline;
    }
    
    a:visited {
        color: black;
    }
    
    li {
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        background-color: none;
        text-transform: uppercase;
        margin: 2px 5%;
        padding: 5px 0;
    }

    ul{
        display: inline;
        list-style-type: none;
        padding: 0;
    }
    
    .profile-image{
        float: right;
        width: 200px;
        margin-top: 20px;
    }






}