h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 54px;
    font-style: bold;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}